#for-wolt {
  background-image: url("../img/for-wolt.png");
  height: 39vw;
  background-size: 100% 100%;
  .section-body {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    .title {
      color: #fff;
      font-size: 6vw;
      text-align: center;
      padding: 4vw;
    }
  }
}
